@charset "UTF-8";
html {
	overflow-y: scroll;
}
/* リセットCSSの記述----- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
    width:100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}

li {
	font-size: 20px;
	list-style: none;
}

.box {
	max-width: 1200px;
	margin: 0 auto;
}


a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */

/* フォントの指定 */
body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;

}

header {
	height: 79px;
	width: 100%;
	/* background-color: #eeeaec;*/
	text-align: center;
	position:fixed;
    background-image : url(../img/Site_image2.png);
    background-repeat: no-repeat;
    background-position: bottom 20px right 50%;
    background-size:cover;
}

header ul {
	width:1200px;
    position: fixed;
    right: 0;
    width:250px;
    padding-left:0%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

header li {
	color: #313da7;
	Text-align:left;
	width: 100%;
	height:26px;
	transition:0.2s; 
	line-height:1;
    padding-left: 10px;
}

.nav__menu_item {
    display: grid;
    font-size: 20px;
    flex-grow: 2;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

header li:hover{ 
	color:crimson;
	font-size: 25px;
}

.open{
	width:60%;
}

.en{
	position: absolute;
	top:20px;
	left:10%;
}

.jp{
	position: absolute;
	top:10px;
	left:10%;
}

.select_lang{
	position: absolute;
	top:10px;
	right:0%;
}

h3{
	text-align: left;
	padding-left: 20px;
	color:slategrey
}

h2{
	padding-left: 5px;	
	padding-top:10px;
}

p{
	padding-left: 15px;	
}

section {
	text-align: center;
	padding:5px 0;
}

section h1 {
	font-size:30px;
	height:fit-content;
	font-weight:500;
	padding-left: 0px;
	color: rgb(27, 67, 187);
}

section gdata{
	width:1800px;
	height: 647px;
	padding:0 0;
	display:block;
	border:6px solid #d4c4bc;
	margin:0 auto;
}

.jumpto{
	max-width: 1800px;
	padding: 2%;
	margin: 0 auto;
	text-align: left;
	color:slategrey
}

.lenge{
	width:32%;
}

.lenge2{
	max-width: 1500px;
	width:50%;
}
.lenge3{
	width:3%;
}


#sec1 {

	height:44px;
}

#sec1 h1 {
	font-size: 30px;
	color: #fff;
	padding: 20px 10px 10px 0px;
}

h4 {
	font-size: 35px;
	color: #fff;
	padding: 10px 10px 20px 10px;
}

.CD_category{
    padding: 0px 0px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.CD_title {
	background-color: rgb(195, 214, 253);
	text-align: left;
	width: auto;
}

.CD_title p {
	background-color: rgb(195, 214, 253);
	text-align: left;
	width: auto;
	padding-left: 55px;	
	padding-bottom: 0px;
	color:#555;
}

.music_option {
	text-align: left;
	width: auto;
	font-size: 14px;
	padding-left: 30px;
}

.flex_area {
	display: flex;
	text-align: left;
}


.other{
	background-color:rgb(236, 235, 233);
}

thead tfoot {
    background-color: #333;
    color: #fff;
}

.current{
    background-color:white;
}
  
footer {
	height: 80px;
	background-color:  #eeeaec;
}

footer .copyright {
	color: #acacac;
	font-size: 12px;
	padding-top:30px;
	letter-spacing: 1px;
}


nav ul {
    list-style:none;
}

.fv__hamburger {
    cursor: pointer;
    position: fixed;/*スクロールしても固定*/
    border: 0px;
    top: 6px;
    right: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);/*ボタンに影を付ける*/
    background: white;
    height: 48px;
    width: 48px;
    border-radius: 50%;/*ボタンを円形にしている（ここを変更することで四角形も可能）*/
    z-index: 10;/*最前面にくるように数値を大きくしている*/
}
.fv__hamburger span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 15px;
    height: 2px;
    border-radius: 2px;
    background: #313da7;
    width: 18px;
}
.fv__hamburger span:nth-child(1) {
    top:16px;
}
.fv__hamburger span:nth-child(2) {
    top:23px;
}
.fv__hamburger span:nth-child(3) {
    top:30px;
}

.fv__hamburger.active span:nth-child(1) {
    top: 30px;
    left: 15px;
    transform: translateY(-6px) rotate(45deg);
    width: 18px;
}

.fv__hamburger.active span:nth-child(2) {
    opacity: 0;
}

.fv__hamburger.active span:nth-child(3) {
    top: 18px;
    left: 15px;
    transform: translateY(6px) rotate(-45deg);
    width: 18px;
}

