@charset "UTF-8";
html {
	overflow-y: scroll;
}
/* リセットCSSの記述----- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
	margin: 0px;
	padding: 0px;
}
body {
	background: #fff;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
}
li {
	font-size: 20px;
	list-style: none;
}
a {
	outline: none;
	color: inherit;
	text-decoration: none;
}
img {
	border: 0px;
	vertical-align: bottom;
}
/* --------------------------------------------------- */

/* フォントの指定 */
body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}

header {
	height: 79px;
	width: 100%;
	/* background-color: #eeeaec;*/
	text-align: center;
	position:fixed;
    background-image : url(../img/Site_image2.png);
    background-repeat: no-repeat;
    background-position: bottom 20px right 50%;
    background-size:cover;
}

header ul {
	/* width:1200px; */
	width: 25%;
	margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul li {
	-webkit-flex-grow: 1;
   flex-grow: 1;
   width: 20%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 16px;
}

header li {
	color: #555;
	font-size: 16px;
	width: 20%;
	height:26px;
	transition:0.2s; 
	line-height:1;
	Text-align:left;

}


header li:hover{ 
	color:crimson;
	font-size: 23px;
}




.open{
	width:90%;
}

.jp{
	position: absolute;
	top:10px;
	left:5%;
}

footer {
	height: 80px;
	background-color: #eeeaec;
}

footer .copyright {
	color: #acacac;
	font-size:  12px;
	padding-top: 30px;
	letter-spacing: 1px /*文字幅*/
}


h3{
	text-align: left;
	padding-left: 10px;
	color:slategrey
}

h2{
	font-size: 20px;
	padding-left: 5px;	
	padding-top:10px;
}

p{
	padding-left: 15px;	
	padding-bottom: 10px;
}

section {
	padding: 10px 0;
	text-align:left;
}

section h1 {
	font-size:25px;
	height:fit-content;
	font-weight:500;
	padding-left: 50px;
	color: rgb(27, 67, 187);
}

section gdata{
	padding:10px 0;
	display: flex;
	border:6px solid #d4c4bc;
	margin:0 auto;
}
.box {
	max-width: 1500px;
	margin: 0 auto;
	padding: 3%;
}

.jumpto{
	max-width: 1500px;
	padding: 3%;
	margin: 0 auto;
	text-align: left;
	color:slategrey;
}

.lenge{
	width:98%;
}

.lenge2{
	width:98%;
}

#sec1 {
	background-image : url(../img/Site_image3.png);
	background-repeat: repeat;
	background-position: top left;
	height:38px;	
	padding: 75px 0px 0px 0px;
	background-size:cover;

}

#sec1 h1 {
	font-size: 20px;
	color: #fff;
	padding: 65px 5px 0px 15px;
}

h4 {
	font-size: 21px;
	color: #fff;
	padding: 5px 0px 0px 15px;
}

.CD_category{
    padding: 0px 0px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.CD_title {
	background-color: rgb(195, 214, 253);
	text-align: left;
}

.CD_title p {
	background-color: rgb(195, 214, 253);
	text-align: left;
	padding-bottom: 0px;
	color:#555;
	font-size:16px;
}

.music_option {
	text-align: left;
	width: auto;
	font-size: 14px;
}

table td {
    border: 1px solid #333;
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
}

table th {
	text-align: left;
	padding-left: 5px;
	padding-right: 2px;
	width:40%;
}

.media_name{
	width:30%;	
}

.media_no{
	width:24%;
}

.other{
	background-color:rgb(236, 235, 233);
}

.questionsOneContent {
    width: 95%;
    padding: 10px ;
    border-bottom: 1px solid #D8D8D8;
}
.questionsOnebox {
    width: 95%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: flex-start;
}

.result_music_name {
    font-size: 13px;
    font-weight: bold;
	width:38%;
	text-align: left;
    background-color: #FFA17A;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.result_media_no {
    font-size: 13px;
    font-weight: bold;
	width:22px;
	text-align: left;
    background-color: #ffffff;
    padding: 7px 3px 7px 5px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}

.result_media_category {
    font-size: 13px;
    font-weight: bold;
	width:11%;
	text-align: left;
    background-color: #ffffff;
    padding: 7px 5px 7px 3px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}
.result_media_name {
    font-size: 13px;
    font-weight: bold;
    margin-right: 3px;
	width:40%;
	text-align: left;
    background-color: #ffffff;
    padding: 8px 5px 8px 5px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}
.result_lylics_by {
    font-size: 13px;
    font-weight: bold;
    margin-right: 3px;
	width:40%;
	text-align: left;
    background-color: #ffffff;
    padding: 8px 5px 8px 5px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}
.result_composition_by {
    font-size: 13px;
    font-weight: bold;
    margin-right: 3px;
	width:40%;
	text-align: left;
    background-color: #ffffff;
    padding: 8px 5px 8px 5px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}
.result_lylics_display {
    font-size: 13px;
    font-weight: bold;
    margin-right: 3px;
	width:40%;
	text-align: left;
    background-color: #ffffff;
    padding: 8px 5px 8px 5px;
    border-radius: 3px;
    color: rgb(39, 38, 38);
}
.searchFrame{
	position: relative;
	display: inline-block;
}
.inputBox{
	padding-right: 20px;
	width:120px;
  }