<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	<meta name="keywords" content="Number_i_music">
	<meta name="description" content="Number_i_Fan_site">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	<link rel="icon" href="../Site_image.svg">
    <meta property="og:image" content="https://sitefornumber-i.onrender.com/static/img/Site_image.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Site for Number_i fan"> 
	<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/stylesheet_sp.css">

 
</head>

<body>

    <header>

        <ul class= "open jp">
                    <li><a href="/">GOAT/</a></li>
                    <li><a href="/BYC">BYC/</a></li>
                    <li><a href="/BON">BON</a></li>
                    <li><a href="/INZM">INZM</a></li>
                    <li><a href="/HRKGM">HRKGM</a></li>
                    <li><a href="/GOAT_Dance">GOAT_D/</a></li>
                    <li><a href="/BYC_Dance">BYC_D/</a></li>
                    <li><a href="/BON_Dance">BON_D</a></li>
                    <li><a href="/INZM_HBL">INZM_HBL</a></li>
                    <li><a href="/ALL">ALL</a></li>


        </ul>

    </header>


    <section id="sec1">
        <h4> </h4>

    </section>
    
    {% block content %}
    {% endblock %}

    <footer>
        <p class="copyright"> </p>
    </footer>
</body>

</html>