<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
	  <meta name="keywords" content="Number_i_music">
	  <meta name="description" content="Site for iLYs">
	  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
	  <link rel="icon" href="../Site_image.svg">
    <meta property="og:image" content="https://sitefornumber-i.onrender.com/static/img/Site_image.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Site for iLYs"> 
    <link rel="stylesheet" type="text/css" href="https://sitefornumber-i.onrender.com/static/CSS/stylesheet.css">

</head>



<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    $(function(){
  
      //リンクを消す
      $('#sp__bg').hide();
  
      //もし、.fv__hamburger（ハンバーガーボタンが）がクリックされたら...の内容を書く
      $('.fv__hamburger').click(function(){
  
        //もし、ハンバーガーボタンに.activeクラスが付与(hasClass)されていた場合
        if($('.fv__hamburger').hasClass('active')){
  
          //こちらはボタンが✕の状態の処理
          $('#sp__bg').fadeOut(300);
          $(this).removeClass('active');
  
          }else{
  
            //こちらはボタンが三本線の状態の処理
            $('#sp__bg').fadeIn(300);
            $(this).addClass('active');
          }
  
      });
    });
  </script>
  <header>  
        <button class="fv__hamburger">
            <div>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </button>
        
                <!-- リンク表示 #sp_bg-->
        <div id="sp__bg">
            <ul class="nav__menu">
              <li class="nav__menu_item"> </li>
              <li class="nav__menu_item"><a href="/">GOAT</a></li>
              <li class="nav__menu_item"><a href="/GOAT_Dance">GOAT_Dance</a></li>
              <li class="nav__menu_item"><a href="/GOAT_Choreo">GOAT_Choreo</a></li>
              <li class="nav__menu_item"><a href="/BYC">BYC</a></li>
              <li class="nav__menu_item"><a href="/BYC_Dance"> BYC_Dance</a></li>
              <li class="nav__menu_item"><a href="/BON">BON</a></li>
              <li class="nav__menu_item"><a href="/BON_Dance"> BON_Dance</a></li>
              <li class="nav__menu_item"><a href="/INZM">INZM</a></li>
              <li class="nav__menu_item"><a href="/INZM_HBL"> INZM_HyperBandLive</a></li>
              <li class="nav__menu_item"><a href="/HRKGM">HIRAKEGOMA</a></li>
              <li class="nav__menu_item"><a href="/GOD_i">GOD_i</a></li>
              <li class="nav__menu_item"><a href="/UMA">U.M.A.</a></li>
              <li class="nav__menu_item">  🐐🐐🐐</li>
              <li class="nav__menu_item"><a href="/ALL">ALL</a></li>
            </ul>

        </div> 
  </header>


  <section id="sec1">
        <h4>  </h4>
  </section>
    
  {% block content %}
  {% endblock %}

  <footer>
        <p class="copyright"> </p>
  </footer>
</body>

</html>