{% extends 'base.html' %}
{% block content %}

<title>MV_times_INZM_HBL</title>
    
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZF7EK5T707"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ZF7EK5T707');
</script>

<!-- 
<link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/stylesheet.css">
<link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/stylesheet_sp.css">
-->
<link rel="stylesheet" type="text/css"  href="../static/css/stylesheet.css">

<main>
<article> 
    <section class="gdata">
    <iframe width="100%" height="500"  src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSiqZ2AYxMm59Fg7EYsL6hhvhOPptMZT_NBu3Dd4ZcMgrn5yaJX-6BEVZQAOX-ySj2iaEpVHaMNm9B-/pubhtml?gid=271370944&single=true&amp;widget=true&amp;headers=false"></iframe>
    <iframe  width="100%" height="3000" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSiqZ2AYxMm59Fg7EYsL6hhvhOPptMZT_NBu3Dd4ZcMgrn5yaJX-6BEVZQAOX-ySj2iaEpVHaMNm9B-/pubhtml?gid=1808412546&single=true&amp;widget=true&amp;headers=false"></iframe>
    </section>


    
</article>
</main>
    {% endblock %}